@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
}

.university-container {
    margin-right: 12px;
}

.brand-university {
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    color: #04306A;
}

.brand-text {
    font-size: 16px;
    font-weight: bold;
    color: #002550;
    line-height: 18px;
}

.text-container {
}

.hero-image {
    background-image: url("../img/BANNER1.png");
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 100px;
}

.hero-maestria {
    background-image: url("../img/banner2.png");
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 100px;
}

/* Place text in the middle of the image */
.hero-text {
    color: #4C82DA;
    font-weight: 900;
    font-size: 64px;
    line-height: 62px;
}

.hero-lugar {
    color: #4C82DA;
    font-weight: bold;
}

.ccm-participantes {
    padding: 0 0 52px 0;
    background-color: #002550;
}

.ccm-participantes h4 {
    color: white;
}

.titulo-participantes {
    background-color: #003e87;
    padding: 24px 0 24px 0;
}

.participante {
    max-height: 60px;
}

h1 {
    font-family: 'Inter', sans-serif;
    color: #04306A;
    font-size: 36px;
    font-weight: bolder;
    line-height: 44px;

}

#introduccion p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #353535;
}

.mt-100 {
    margin-top: 100px;
}

#introduccion-maestria p {
    font-size: 18px;
    line-height: 26px;
    color: #353535;
}

#introduccion-maestria h4 {
    color: #5a5a5a;
}

#oferta-academica {
    background-color: #002550;
    padding-top: 40px;
    padding-bottom: 40px;
}

#oferta-academica p {
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    color: #DFFDFD;
}

#oferta-academica hr {
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}

.oferta-subtitle {
    font-size: 32px;
    color: white;
    font-weight: lighter;
}

.oferta-title {
    font-size: 72px;
    color: #F9B82E;
    font-weight: 900;
    line-height: 72px;
}

.convocatoria-card {
    border-radius: 12px;
    background-color: #F7F9FC;
    padding: 24px;
}

.convocatoria-title {
    font-size: 24px;
    font-weight: normal;
    color: #4C82DA;
}

#convocatorias .list-group {
    border-left: 4px solid #4C82DA!important;
}

#convocatorias .list-group-item {
    color: #707070;
    background-color: #F7F9FC;
    padding: 0.15rem 1rem;
    border: none;
}

.yellow {
    color: #F9B82E;
}

.blue {
    color: #4C82DA;
}

#coloquio {
    background-color: #F7F9FC;
    padding: 24px 0 24px 0;
}

.coloquio-evento {
    padding: 32px 0 32px 0;
    border-bottom: 1px solid #ccc!important;
}

.evento-dia {
    font-size: 48px;
    font-weight: 900;
    color: #355ABF;
    align-items: center;
    line-height: 48px;
}

.coloquio-eventos-container {
    align-items: start!important;
    margin-right: 1rem;
}

.evento-mes {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #355ABF;
    align-items: center;
}

.evento-hora {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #355ABF;
}

.evento-info {
    margin-left: 24px;
}

.evento-title {
    font-size: 28px;
    font-weight: bold;
    line-height: 28px;
    color: #4C82DA;
}

.evento-ponente {
    font-size: 18px;
    color: #707070;
    font-weight: bold;
}

.evento-adscripcion {
    margin-left: .4rem;
    color: #707070;
}

.evento-lugar {
    color: #707070;
    margin-right: 8px;
}

.evento-hora {
    color: #4C82DA;
    margin-left: 8px;
}

#contacto {
    background-color: #3964A8;
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}

#contacto h1 {
    color: white!important;
}

#contacto h4 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #d1e3ff;
    margin-bottom: 16px;
}

.contacto-item {
    padding: 0px 0 4px 0;
    font-size: 14px;
    font-weight: 300;
    /*border-bottom: 1px solid #4C82DA!important;*/
}

#footer {
    background-color: #002550;
    padding-top: 68px;
    padding-bottom: 48px;
}

.copy-right {
    font-size: 12px;
}

/* Maestría */

#maestria-info {
    padding: 20px 0 40px 0;
    /*background-color: #f3f7ff;*/
}